h1{
    text-align: center;
}
h2{
    text-align: center;
}
code {
    background-color: #c9c9c9c9;
    color: rgb(194, 55, 13);
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }

pre{
    background-color: #c9c9c9c9;
    color: rgb(194, 55, 13);
}
span{
    color: black;
}
.tags {
    background-color: #c9c9c9c9;
    color: rgb(10, 137, 160);
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
